.inputBox {
  margin-bottom: 2rem;
}

.submitBtn {
  position: relative;
  border: none;
  margin-left: 1rem;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: pink;
  color: gray;
}

.submitBtn:hover {
  background: #ffa3ee;
}
